img{
    width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 

header{
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo{
    width: 50px;
    height: 50px;
    margin-top: 8px;
    margin-left: 10px;
}

.background{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 0;
}

.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.navbar-links{
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar-links li{
    display: inline-block;
}

.navbar-links a{
    color: white;
    transition: all 0.3s ease;
}

.navbar-links a:hover{
    color: #ffa500;
    transform: scale(1.1);
}

.search-box{
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-box input{
    padding: 6px 10px;
    border-radius: 4px;
    border: none;
    height: 36px;
    border-radius: 999px;
}

.search-box button{
    background-color: #ffa500;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 6px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 36px;
    border-radius: 999px;
}

.search-box button:hover{
    background-color: #cc8400;
    transform: scale(1.05);
}

main{
    padding-top: 100px;
}

.logo img{
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.logo img:hover{
    animation: logo-wiggle 0.5s ease-in-out;
}

@keyframes logo-wiggle{
    0% { transform: rotate(0);}
    25% { transform: rotate(5deg);}
    50% { transform: rotate(-5deg);}
    75% { transform: rotate(0);}
}

.footer-icons{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px;
}

.footer-icons img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.footer-icons img:hover{
    transform: scale(1.2);
}

body{
    background-image: url(../images/background3.jpg );
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.animated-svg{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
}

.animated-svg svg{
    width: 300%;
    height: auto;
    display: block;
    background: none;
    flex-shrink: 0;
}

.svg-and-text{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 60px auto;
    max-width: 1200px;
    padding: 20px;
    justify-content: start;
}



.svg-and-text svg{
    width: 300px;
    height: auto;
    flex-shrink: 0;
}

.articles{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 40px auto;
    justify-content: center;
}

.article-card{
    width: 320px;
    box-sizing: border-box;
    background-color: #ffffffcc;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    line-height: 1.5;
}

.article-card img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}
 

.see-more{
    margin-top: 20px;
    color: #ffffff;
    background-color: #f68b1e;
    padding: 8px 16px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.see-more:hover{
    background-color: #e57700;
}

#top-cloud{
    animation: movecloud 2s infinite alternate ease-in-out;
}
@keyframes movecloud{
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(50px);
    }
}

@keyframes cloudleftmove{
    0% { transform: translateX(0);}
    50% {transform: translateX(-15px);}
    100% {transform: translateX(0);}
}

#left-cloud{
    animation: cloudleftmove 2s ease-in-out infinite;
    transform-box: fill-box;
    transform-origin: center;
}

@keyframes cloudrightmove{
    0%{ transform: translateX(0);}
    50%{transform: translateX(20px);}
    100%{transform: translateX(0);}
}

#right-cloud{
    animation: cloudrightmove 3s ease-in-out infinite;
    transform-box: fill-box;
    transform-origin: center;
}



